fastapi
uvicorn
python-multipart

SQLAlchemy
pydantic-settings
pymysql
cryptography
alembic

pandas
numpy

pdfplumber
PyMuPDF
Pillow
pytesseract

sentence-transformers
chromadb
requests

# Machine Learning
scikit-learn
matplotlib
seaborn

python-dotenv

# cd backend\src; & ..\.venv\Scripts\python.exe -m uvicorn app.main:app --reload --host 0.0.0.0 --port 8000
